.profileCard {
    width: 360px;
    height: 470px;
    margin: 30px 10px 0 100px;
    padding: 15px 30px 22px 29px;
    background-color: #FFE66D;
  }

.thumbnailLink {
    width: 50px;
    height: 50px;
    margin: -10px;
    border: 2px solid white;
  }

.homeText {
  margin: 0px 0px 0px 0px;
  padding: 150px 360px 20px 0px;
  text-align: center;
}

.profileCardText {
    margin: 0px 0px 20px;
    font-family: Rokkitt;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
  }
.profilePic {
    width: 212px;
    height: 212px;
  }
.grow { transition: all .2s; }
.grow:hover { transform: scale(1.2); }