body {
  margin: 0;
  font-family: "Montserrat", Georgia, monospace;
  background: #f7fff7; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button {
  cursor: pointer;
}
@font-face {
  font-family: Rokkitt;
  font-style: normal;
  font-weight: normal;
  src: local("rokkitt"), url('rokkitt.woff') format('woff');
}